.topHeaderRow {
  background-color: #1A237E;
  font-size: 0.8em;
  width: 100%;
  padding: 0;
    text-align:right;
}
.topHeaderRow  a:link { 
  color: #E8EAF6;
}
.topHeaderRow  a:hover { 
  color: #40C4FF;
}
.fixed-top-2 {
    margin-top: 10px;
}
.secondHeaderRow {
    background-color : #305F9F ; 
    color : white;
}
.navbar-brand {
    font-family: lobster, serif;
    font-size: 32px;
    color : #FFF;    
}

.description {
    margin-top: 8px;
   font-size: 20px;   
}

.details-list {
   list-style-type: none;   
    padding-left: 0;
}
.details-list li {
    margin: 5px 0 0 0;    
}

#tags span.label {
   line-height: 26px;   
}

.caption {
     text-align: center;
}
.thumbnail {
     border-color: #9FA8DA;
    margin-right: 5em;
    padding: 1em 1em 1em 1em;
       width: 100%;
    height: inherit;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center; 
    
}
section {
   margin-top: 0em;
   display: flex;
    
}
figure img {
   max-width: 100%;
}
.portfolio-item {
   margin-top: 10px;   
}

footer {
   background-color:  #303F9F;  
    color: #E8EAF6;
    font-size: 80%;
}
footer .final {
    padding-top: 10px;
    margin-top: 10px;
    background-color:  #1A237E; 
    text-align: center;
}

footer hr {
   margin-bottom: 0;   
}
